*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content{
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 300px 700px;
   }
   .left-section{
       grid-column: span 1;
       background-color: #242531;
   }
   .right-section{
       grid-column: span 1/span 2;
       background-color: #f7f7ff;
   }
   section{
       display: block;
   }
/* Write CSS code below */